body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;

  /* gap: 70px; */

}

.updateuser {
justify-content: space-between;
border: solid 2px black;
display: grid;
grid-template-columns: 2fr 6fr;
padding: 2rem;
height: auto;

}

.avatar{
align-self: flex-start;

}
.avatarRegister {
  
  Display:flex;
  flex-direction: row;
  align-self: center;


}

.dataform{
  align-self: flex-end;
}

.misfavoritos {
justify-content: space-between;
  border: solid 2px black;
height: 30rem;
  padding: 2rem;

}

.missketches {
height: 30rem;
justify-content: space-between;
  border: solid 2px black;

  padding: 2rem;
}


.background-image {
  background-image: url('../images/LOGO.png.png');
background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    background-color: black;
}

.background-image:hover {
  background-image: url('../images/LogoShare.png');
background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.userRegisterModal{
  width: 80rem;
  justify-content: space-between;
  border: solid 2px black;
  display: grid;
  grid-template-columns: 2fr 6fr;
  padding: 2rem;
  height: auto;

}

.modal-container {
    position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
  background-color: rgba(0, 0, 0, 0.733);
  display: flex;
  align-items: center;
  justify-content: center;
width: auto;
      height: auto;
      background-color: #fff;
      border: solid 3px orange;
      border-radius: 20px;

      padding-top: 2%; 
    /*  box-shadow: 10px;
      box-shadow: 10px green; */
    
}

.modal-content {
  width: 400px;
  height: 650px;
  background-color: #fff;

  border-radius: 20px;
  align-items: center;
  justify-self: center;
  padding-top: 2%;
  box-shadow: 10px;
  box-shadow: 10px green;
}

.modal-body {

  background-color: #fff;

  border-radius: 20px;
  align-items: center;
  justify-self: center;
  padding-top: 2%;
  box-shadow: 10px;
  box-shadow: 10px green;
}

.modal-header,
.modal-footer {
  /* padding: 10px; */
  font-size: 20px;
  box-shadow: 10px green;
}

.modal-picture {
  box-shadow: 20%;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 50%;
  align-items: center;

  justify-self: center;

}

.modal-title {
  margin: 0;
}



/* iframe {
width: 80rem;
height: 80rem;
} */


.NavtrapBar{
font-family: 'Bungee Shade', cursive;

}
.detailsImage{
  height: 800px;
  min-height: 600px;
  max-height: 800px;
  width: 1000px;
  min-width: 800px;
  max-width: 1000px;
    position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      align-self: flex-start;

    
}

.detailsTitle
{
  color: white;
  font-size: xx-large;
/* font-family: 'Bungee Shade', cursive; */
}

.detailsText1{
  font-size: x-large;
}
/* .detailsText2 {
  font-size: large;
} */

.sketchDetails{

display: flex;
flex-direction: column;
}

.opciones {
  align-self: flex-end;
}

.commentGrid{
  border: solid 1px black;
display: grid;
grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

}


.commentOwner {
border: solid 1px green;
  display: grid;

  grid-row: 1;

  grid-column-start: 1;
  grid-column-end: 4;
}
.commentText {
  border: solid 1px red;
  display: grid;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

