@font-face {
  font-family: "MiFuente";
  src: url("../src/fonts/DonGraffiti.otf") format("truetype");
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
}

.updateuser {
  justify-content: space-between;
  border: solid 2px black;
  display: grid;
  grid-template-columns: 2fr 6fr;
  padding: 2rem;
  height: auto;
}

.avatar {
  align-self: flex-start;
}

.avatarRegister {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.dataform {
  align-self: flex-end;
}

.misfavoritos {
  justify-content: space-between;
  border: solid 2px black;
  height: 30rem;
  padding: 2rem;
}

.missketches {
  height: 30rem;
  justify-content: space-between;
  border: solid 2px black;

  padding: 2rem;
}

.background-image {
  background-image: url("../images/LOGO.png.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.background-image:hover {
  background-image: url("../images/LogoShare.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userRegisterModal {
  width: 80rem;
  justify-content: space-between;
  border: solid 2px black;
  display: grid;
  grid-template-columns: 2fr 6fr;
  padding: 2rem;
  height: auto;
}

.modal-container {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.733);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: #fff;
  border: solid 3px orange;
  border-radius: 20px;

  padding-top: 2%;
  /*  box-shadow: 10px;
      box-shadow: 10px green; */
}

.modal-content {
  width: 400px;
  height: 650px;
  background-color: #fff;

  border-radius: 20px;
  align-items: center;
  justify-self: center;
  padding-top: 2%;
  box-shadow: 10px;
  box-shadow: 10px green;
}

.modal-body {
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
  justify-self: center;
  padding-top: 2%;
  box-shadow: 10px;
  box-shadow: 10px green;
}

.modal-header,
.modal-footer {
  /* padding: 10px; */
  font-size: 20px;
  box-shadow: 10px green;
}

.modal-picture {
  box-shadow: 20%;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 50%;
  align-items: center;

  justify-self: center;
}

.modal-title {
  margin: 0;
}

.NavtrapBar {
  font-family: "MiFuente", cursive;
  font-size: xx-large;
}

.detailsImage {
  height: 800px;
  min-height: 600px;
  max-height: 800px;
  width: 1000px;
  min-width: 800px;
  max-width: 1000px;
}

.detailsTitle {
  font-family: "MiFuente";
  font-size: xx-large;
  color: white;
}

.sketchDetails {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opciones {
  align-self: flex-end;
}

.commentFlex {
  border: solid 1px gray;
  background-color: rgba(0, 0, 255, 0.15);
  border-radius: 0 0 15px 15px;
  display: Flex;
  flex-direction: column;
}

.Bedit:hover {
  scale: 1.2;
  cursor: "pointer";
}

.commentOwner {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.commentText {
  display: flex;
}

.modal-conta {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  /* Ajusta el ancho según tus necesidades */
  height: 200px;
  /* Ajusta la altura según tus necesidades */
  background-color: rgba(0, 0, 0, 0.733);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px orange;
  border-radius: 15px;
}


@media (max-width: 768px) {
  /* Estilos para dispositivos móviles */
.homepagebody{
  max-width: 100%;
  max-height:50% ;
}
.NavtrapBar{
    max-width: 100%;
      max-height: 20%;
}
    .registrarse {
      font-size: "large"
    }
  
    .entrar {
      font-size: "xxx-large"
    }
    .UserCard{
      max-width: "100%";
      min-width: "100%"
      ;
    }
    .SketchCard{
      max-width: "100%";
        min-width: "100%"
        ;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tabletas */

}

@media (min-width: 1025px) {
  /* Estilos para pantallas de escritorio */

}

@media (max-width: 768px) {
  .elemento-a-ocultar {
    display: none;
  }
}

@media (min-width: 1025px) {
  /* .elemento-a-mostrar {
    display: none;
  } */

}